In [ ]:
import pandas as pd

df_list = [
  ["Lamar Jackson", 23, "Ravens", "QB"]
  , ["Russell Wilson", 31, "Seahawks", "QB"]
  , ["Aaron Donald", 29, "Rams", "DT"]
  , ["Patrick Mahomes", 24, "Chiefs", "QB"]
  , ["Michael Thomas", 27, "Saints", "WR"]
  , ["Christian McCaffrey", 24, "Panthers", "RB"]
  , ["George Kittle", 26, "49ers", "TE"]
  , ["DeAndre Hopkins", 28, "Cardinals", "WR"]
  , ["Stephon Gilmore", 29, "Patriots", "CB"]
  , ["Derrick Henry", 26, "Titans", "RB"]
]

df_columns = ["Name", "Age", "Team", "Position"]
players = pd.DataFrame(data=df_list, columns=df_columns)

In [ ]:
# Select distinct positions from DataFrame
players["Position"].unique()

array(['QB', 'DT', 'WR', 'RB', 'TE', 'CB'], dtype=object)

In [ ]:
# Select measurements where value in Series "Position" is "QB"
players[players["Position"]=="QB"]

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
3  Patrick Mahomes   24    Chiefs       QB

In [ ]:
# Using Series.isin() function
players[players["Position"].isin(["QB","DT"])]

              Name  Age      Team Position
0    Lamar Jackson   23    Ravens       QB
1   Russell Wilson   31  Seahawks       QB
2     Aaron Donald   29      Rams       DT
3  Patrick Mahomes   24    Chiefs       QB

Let's create two dataframes and _inner_ join them.

In [ ]:
df_team = [
  [1, "Arizona Diamondbacks"]
  , [2, "Colorado Rockies"]
  , [3, "Los Angeles Dodgers"]
  , [4, "San Diego Padres"]
  , [5, "San Francisco Giants"]
]
team_columns = ["Id", "Name"]
teams = pd.DataFrame(data=df_team, columns=team_columns)

df_player = [
  [1, "Cody Bellinger", 3, "OF"]
  , [2, "Mookie Betts", 3, "OF"]
  , [3, "Nolan Arenado", 2, "3B"]
  , [4, "Trevor Story", 2, "SS"]
  , [5, "Fernando Tatis Jr.", 4, "SS"]
  , [6, "Buster Posey", 5, "C"]
  , [7, "Starling Marte", 1, "OF"]
  , [8, "Manny Machado", 4, "3B"]
]
player_columns = ["Id", "Name", "TeamId", "Position"]
players = pd.DataFrame(data=df_player, columns=player_columns)


df_homeruns = [
  [2, 16],
  [5, 15],
  [8, 16]
]
homerun_columns = ["PlayerId", "Homerun"]
homeruns=pd.DataFrame(df_homeruns, columns=homerun_columns)

In [ ]:
homeruns

   PlayerId  Homerun
0         2       16
1         5       15
2         8       16

In [ ]:
pd.merge(
    left=players,
    right=homeruns,
    left_on="Id",
    right_on="PlayerId",
    how="inner"
)

   Id                Name  TeamId Position  PlayerId  Homerun
0   2        Mookie Betts       3       OF         2       16
1   5  Fernando Tatis Jr.       4       SS         5       15
2   8       Manny Machado       4       3B         8       16

In [5]:
import pandas as pd

# Creating dictionary named "fruit_vendors"
fruit_vendors = {'2017 Sales': [35, 21], '2018 Sales': [41, 34]}

# We created our great dataframe from the dictionary
my_nice_dataframe = pd.DataFrame.from_dict(fruit_vendors)

for index, row in my_nice_dataframe.iterrows():
   print(row)

2017 Sales    35
2018 Sales    41
Name: 0, dtype: int64
2017 Sales    21
2018 Sales    34
Name: 1, dtype: int64

In [10]:
import pandas as pd

# Dictionary (data)
data = {'2017 Sales': [35, 21], '2018 Sales': [41, 34]}

# Making dataframe from dictionary (data). Name is nex_dataframe
new_dataframe = pd.DataFrame.from_dict(data, orient='index', columns=['Apples', 'Bananas'])

# print(new_dataframe)

# Storing index -> index
# Storing every row -> row
for index, row in new_dataframe.iterrows():
  # Printing out ENTIRE dataframe (not rows)
  print(new_dataframe)
  # Printing out row
  print(row)

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34
Apples     35
Bananas    21
Name: 2017 Sales, dtype: int64
            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34
Apples     41
Bananas    34
Name: 2018 Sales, dtype: int64

Index(['Apples', 'Bananas'], dtype='object')

In [14]:
for col in list(new_dataframe.columns):
  print(new_dataframe[col])

2017 Sales    35
2018 Sales    41
Name: Apples, dtype: int64
2017 Sales    21
2018 Sales    34
Name: Bananas, dtype: int64