# Mission 1

Create a tuple of your choice containing 10 elements in this order:
- 3 integers
- 3 strings
- 2 lists containing 3 items each
- 2 dictionaries containing 3 items (3 key/value pairs) each

Now, access the second-to-last item in the second list.

In [ ]:
# Creating the tuple
my_tuple = (1, 2, 3, "alpha", "beta", "gaga", ["apples", "pears", "bananas"], ["volvo", "bmw", "audi"], {"name": "Peter", "age": 38, "sex": "male"}, {"America": 28, "Europe": 32, "Asia": 14})

# Second list is 7-th element of tuple; It's second-to-last item has index -2
my_tuple[7][-2]

'bmw'

# Mission 2

In the same tuple, access the last 4 elements using slicing

In [ ]:
my_tuple[-4:]

(['apples', 'pears', 'bananas'],
 ['volvo', 'bmw', 'audi'],
 {'age': 38, 'name': 'Peter', 'sex': 'male'},
 {'America': 28, 'Asia': 14, 'Europe': 32})

# Mission 3

Change the value of the 4th element (the 1st string) of your tuple (oh yes it's possible!)

In [ ]:
# Well, I'm pretty sure modification of the same object (string within tuple)
# is not possible.

# However, I found a solution on interwebz with conversion to mutable list with
# element replacement. See below.

# But it's not the real deal.

# Content before
print(my_tuple)

# Id of the tuple before
print(f"Before = {id(my_tuple)}")

# Conversion to list
lst = list(my_tuple)

# Changing the element
lst[3] = "delta"

# Conversion back to tuple
my_tuple = tuple(lst)

# Id of the tuple after
print(f"After = {id(my_tuple)}")

print(my_tuple)

(1, 2, 3, 'alpha', 'beta', 'gaga', ['apples', 'pears', 'bananas'], ['volvo', 'bmw', 'audi'], {'name': 'Peter', 'age': 38, 'sex': 'male'}, {'America': 28, 'Europe': 32, 'Asia': 14})
Before = 139643120751536
After = 139643120854080
(1, 2, 3, 'delta', 'beta', 'gaga', ['apples', 'pears', 'bananas'], ['volvo', 'bmw', 'audi'], {'name': 'Peter', 'age': 38, 'sex': 'male'}, {'America': 28, 'Europe': 32, 'Asia': 14})


# Mission 4

Create 2 tuples that contain only integers.
Create a script that compares them to each other and indicates which one of the tuples returns the highest total value after adding all their values together.

In [ ]:
from random import randint
from functools import reduce

# Creating two tuples
t1 = tuple([randint(1,10) for i in range(10)])
t2 = tuple([randint(1,10) for i in range(10)])

# Function to compute the total value of the integer tuple
def totval(t):
  return reduce(lambda a,b:a+b, t)

# Debug
print(f"Tuple 1 = {t1} [Total value = {totval(t1)}]")
print(f"Tuple 2 = {t2} [Total value = {totval(t2)}]")

# Find the higher total value
if totval(t1) > totval(t2):
  print("Tuple 1 total value is higher.")
elif totval(t1) < totval(t2):
  print("Tuple 2 total value is higher.")
else:
  print("Both tuples have same total value.")

Tuple 1 = (2, 5, 2, 10, 6, 7, 9, 2, 7, 8) [Total value = 58]
Tuple 2 = (3, 8, 10, 1, 1, 10, 5, 2, 5, 5) [Total value = 50]
Tuple 1 total value is higher.

# Mission 5

Here's a tuple:

my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

Create a script that allows you to change one of the values of "my_tuple" by indicating the position of the value you want to change, as well as the new value.

In [ ]:
# Function to change a tuple
def tuple_modify(t, index, value):

  # Convert to list
  l = list(t)

  # Change necessary list element
  l[index] = value

  # Convert back to tuple
  t = tuple(l)

  # Return tuple, otherwise it's lost
  return t


# Create my_tuple
my_tuple = ("data analyst", "data scientist", "data engineer", "data architect")

# Modify first element
my_tuple = tuple_modify(my_tuple, 0, "expert on camembert")

# Print out the result
print(my_tuple)

('expert on camembert', 'data scientist', 'data engineer', 'data architect')